* {
    font-family: 'Poppins';
    font-style: normal;
}

@media screen and (max-width: 767px) {
    html {
        box-sizing: border-box;
    }

    body {
        background-color: #ffffff;
    }

    .header-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 58px 5%;
    }

    .logo {
        color: #6070FF;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
    }

    .hamburger {
        display: block;
    }
    
    .heading {
        background-image: url("./assets/images/mobile-bg-image.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header {
        color: #172B4D;
        font-weight: 700;
        font-size: 30px;
        padding-top: 20%;
        margin-left: 5%;
        margin-right: 5%;
        line-height: 52px;
    }

    .heading-paragraph {
        color: #344563;
        font-weight: 400;
        font-size: 16px;
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;
        line-height: 24px;
    }
    
    .heading-social {
        color: #7F8CFF;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin: 5% 5%;
    }

    .icons {
        display: flex;
    }

    .icons li {
        list-style-type: none;
        padding-right: 5%;
    }

    .icons li a {
        align-items: baseline;
    }

}