* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  background-color: #fff;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 58px 5%;
}

.logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

#hamburger {
  display: flex;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-image: url("./assets/images/mobile-bg-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 60px;
  position: absolute;
  top: 46px;
}

.header {
  display: flex;
  color: #172b4d;
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  padding-top: 20%;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 52px;
  order: 0;
}

.heading-paragraph {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  line-height: 24px;
}

.heading-social {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 5% 5%;
}

.icons {
  display: flex;
  flex-grow: 0;
}

#twitter {
  margin-left: -45px;
}

.icons li {
  list-style-type: none;
  padding-right: 5%;
}

.icons li a {
  align-items: baseline;
  justify-content: flex-start;
}

/*--section details--*/
.projects-section{
display: flex;
flex-direction: column;
align-items: center;
padding: 16px;
gap: 12px;
margin-top: 650px;
width: 327px;
height: 552px;
background: #FFFFFF;
border: 1px solid #DFE1E6;
border-radius: 16px;
flex: none;
order: 0;
flex-grow: 0;
}

.cards {
  width: 295px;
  height: 220px;
  background: url(blog_drbl_4x.png);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.cards-details {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;
width: 295px;
height: 288px;
flex: none;
order: 1;
flex-grow: 0;
}

.title {
width: 295px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
color: #172B4D;
flex: none;
order: 0;
flex-grow: 0;
}

.highlights {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;
width: 236px;
height: 32px;
flex: none;
order: 1;
flex-grow: 0;
}

.highlight-text {
width: 55px;
height: 16px;
text-transform: uppercase;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
color: #344563;
flex: none;
order: 0;
flex-grow: 0;
}

.counter {
width: 8px;
height: 8px;
background: #C1C7D0;
flex: none;
flex-grow: 0;
}

.countertext {
width: 88px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
color: #7A869A;
flex: none;
order: 0;
flex-grow: 0;
}

.cards-descriptions {
  width: 295px;
height: 76px;

/* Body / 3 */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
color: #344563;
flex: none;
order: 1;
flex-grow: 0;
}

.grid-skills {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  align-items: center;
  list-style: none;
  margin: -20px 0 0 -10px;
  gap: 8px;
}

.grid-skills >div {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 12px;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  font-weight: 500;
  letter-spacing: 0.03rem;
  line-height: 16px;
  color: #6070ff;
  background: #EBEBFF;
  border-radius: 8px;
}
