* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
}

ul {
  list-style: none;
}

body {
  background-color: rgb(99, 90, 90);
  margin: 0;
}

/*landing-page*/

.landing-page {
  width: 100%;
  height: 718px;
  left: 0px;
  top: 0px;
  background-color: #fff;
}

.header-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  align-items: center;
  height: 48px;
  left: 0px;
  right: 0px;
  top: 44px;
  bottom: 0px;
}

.logo {
  padding: 10px 1px;
  height: 15px;
  margin-left: 12px;
  align-items: center;
  top: 5px;
}

.logo-text {
  color: #6070ff;
  margin-right: 339px;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  align-items: center;
  margin: 0 10px;
  padding: 0px;
}

.bars {
  align-content: flex-end;
  padding: 10px 1px;
  height: 15px;
  margin-left: 211px;
  align-items: center;
  margin-right: 12px;
  top: 5px;
}

.nav-items {
  display: none;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin: 92px 0;
  background-image: url("./assets/images/mobile-bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 604px;
  position: top left;
  border-bottom-left-radius: 60px;
}

.headline-text {
  margin: 0;
  padding-top: 116px;
  padding-left: 24px;
  padding-right: 24px;
  height: 150px;
  width: 87.2%;
  font-family: "Poppins" sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.headline-paragraph {
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  width: 87.2%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  align-items: center;
}

.heading-social {
  margin: 0;
  padding-left: 24px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.icons {
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  gap: 0 12px;
}

.projects-section {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(1fr);
  margin-top: 40px;
  gap: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  border-radius: 16px;
  border: solid #e5e5e5 1px;
  background-color: #fff;
}

.tonic-area {
  width: 100%;
}

.card-details {
  color: #172b4d;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.highlight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.highlight-text {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 13px;
  font-style: normal;
  line-height: 16px;
  color: #344563;
}

.countertext {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  font-weight: 600;
  color: #7a869a;
}

.year {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #7a869a;
  font-size: 13px;
  line-height: 16px;
}

.card-description {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  color: #344563;
}

.skills {
  display: float;
  display: flex;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  list-style-type: none;
  gap: 16px;
  padding-left: 0;
}

.skills li {
  float: left;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}

#popup {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  border-radius: 8px;
  background-color: inherit;
  padding: 12px;
  gap: 10px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #6070ff;
}

.about {
  background-color: #fff;
  border-top-right-radius: 50px;
  padding-top: 8%;
  padding-right: 4%;
  margin-top: 12px;
}

#about {
  padding-top: 150px;
}

.connect {
  color: #7f8cff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.heading-main {
  color: #172b4d;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

.lang li h4 {
  width: 254px;
}

.icons-lang {
  list-style-type: none;
  padding-left: 0;
}

.arrows {
  width: 256px;
}

.icons-lang li {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin: 16px;
  gap: 16px;
  padding: 12px;
}

.separator {
  width: 100%;
}

#soc_icons {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style-type: none;
  padding-left: 8px;
}

.skills li:hover {
  cursor: pointer;
  border: solid #6070ff;
}

#popup:hover {
  cursor: pointer;
  color: #fff;
  background-color: #6070ff;
}

#popup:active {
  box-shadow: 2px 2px 5px #6070ff;
}

.contact-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6070ff;
  height: 900px;
  border-radius: 70px 0 0 0;
  background-image: url("./assets/images/contact\ form\ shapes-mobile@2x.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 0 12px 0 12px;
}

.contact-heading {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  padding-top: 130px;
}

.contact-description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ebebff;
  padding: 0 0 0 24px;
}

.name {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 48px;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  padding: 16px;
  color: #172b4d;
}

.email {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 48px;
}

textarea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 170px;
}

textarea::placeholder {
  color: #b3bac5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 16px;
}

.btn {
  background: #fff;
  border-radius: 8px;
  width: 142px;
  height: 48px;
  left: 24px;
  border: 1px solid #7f8cff;
  top: 5317px;
  align-items: center;
  padding: 12px 16px;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
}

.btn:active {
  background-color: #2230d2;
}

.btn:hover {
  color: white;
}

.shape {
  display: grid;
  width: 134px;
  place-items: center;
  margin-top: 55px;
}

@media screen and (min-width: 768px){
  .landing-page {
    width: 100%;
    margin: auto;
  }
  .nav-items {
    display: flex;
  }

.header-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
}

.logo {
  border: 2px solid green;
}

.menu {
  align-items: center;
  border: 2px solid green;
  height: 15px;
  padding: 10px 0;
  margin-right: auto;
}

  .nav-link {
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    color: #344563;
    margin: 0 10px 0 0;
    text-decoration: none;
  }

  .nav-items {
    align-items: center;
    margin-top: -35px;
  }

  #hamburger {
    display: none;
  }

  .headline {
    margin: 35px 0;
    border: 2px solid red;
    background-image: url("./assets/images/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }

  .headline-text {
    align-self: center;
  }

  .headline-paragraph {
    align-self: center;
  }

  .break {
    display: none;
  }

  .heading-social {
    margin-left: 25px;
  }

  .icons {
    margin-left: 0;
  }

  .projects-section {
    margin-top: 40px;
    margin-right: 12px;
    margin-left: 12px;
  }

  .card {
    display: flex;
    flex-direction: row;
    border: 1px solid #1e315f;
    padding: 24px;
  }

  .card-image {
    width: 100%;
    height: 100%;
  }

  .tonic-area {
  color: #344563;
  font-size: 2vw;
  margin-left: 24px;
}

.cards-details {
  color: #091E42;
}

.about {
  display: flex;
  flex-direction: row;
  margin: 50px 0 0 0;
}

.about-mobile {
  margin-top: -100px;
  margin-bottom: 50px;
}

.heading-social {
  padding-left: 0;
}

.about-lang {
  margin-top: -10%;
  margin-bottom: 80px;
  font-size: 2vw;
}

.lang {
  margin-top: 12px;
}

.icons-lang{
  display: flex;
  flex-direction: row;
}

.li-icons {
  display: flex;
  flex-direction: column;
  width: 122px;
  height: 120px;
}

.arrows {
  padding-left: 40%;
}

.Separator {
  width: 100%;
}

.contact-description {
  text-align: center;
}
}
