* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  background-color: #fff;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 58px 5%;
}

.logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

#hamburger {
  display: flex;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-image: url("./assets/images/mobile-bg-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 60px;
  position: absolute;
  top: 46px;
  border: 1px solid #dfe1e6;
}

.header {
  display: flex;
  color: #172b4d;
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  padding-top: 20%;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 52px;
  order: 0;
}

.heading-paragraph {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  line-height: 24px;
}

.heading-social {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 5% 5%;
}

.icons {
  display: flex;
  flex-grow: 0;
}

#twitter {
  margin-left: -45px;
}

.icons li {
  list-style-type: none;
  padding-right: 5%;
}

.icons li a {
  align-items: baseline;
  justify-content: flex-start;
}

.projects-section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  margin-top: 650px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.cards {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.cards-details {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 12px;
  width: 295px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.title {
  width: 295px;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.highlights {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 236px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.highlight-text {
  width: 55px;
  height: 16px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.counter {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  flex: none;
  flex-grow: 0;
}

.countertext {
  width: 88px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.cards-descriptions {
  width: 295px;
  height: 76px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.grid-skills {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  align-items: center;
  list-style: none;
  margin: -20px 0 0 -10px;
  gap: 8px;
}

.grid-skills > div {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 12px;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  font-weight: 500;
  letter-spacing: 0.03rem;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
}

#popup {
  box-sizing: border-box;
  border: 1px solid #7f8cff;
  background-color: #fff;
  letter-spacing: 0.03rem;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  padding: 12px;
  bottom: 10px;
  gap: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  color: #396df2;
}

#section-cards {
  margin-top: 50px;
}

#about {
  position: absolute;
}

.lang {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 10px;
}

.grid-languages {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-languages > div {
  background-color: #f7f7f9;
  text-align: left;
  padding: 20px 10px;
  font-size: 30px;
}

.item1 {
  grid-column: 1;
}

.arrow {
  position: absolute;
  top: 945px;
  right: 66px;
}

.arrow2 {
  position: absolute;
  top: 1030px;
  right: 66px;
}

.arrow-down {
  position: absolute;
  width: 0.87rem;
  left: 285px;
  margin-top: -30px;
  color: #5e6c84;
}
